.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: rgb(170, 255, 228);
    color: #000;
    font-size: 35px;
    height: 100px;
    border-radius: 15px;
}